$a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial,"微軟正黑體";
}

html {
    scroll-behavior: smooth;
}





#section1 {
    width: 100%;

    .logo {
        height: 77px;
        padding: 40px 160px;
        position: absolute;
    }
    
    .container{
        width:100%;
        max-width: 1140px;
        margin: 0 auto;
        

        .navbar {
            display: flex;
            margin: 0 auto;
            // background-color: rgba(235, 235, 235,0.5);

                            

                li {
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 0.15em;
                    color: #eee;
                    padding: 30px 34px;

                    // &:hover {
                    // }

                    a {
                        text-decoration: none;
                        
                    }
                }
                

                
            
        }
    }

    .banner {
        width: 100%;          
    }
}

#section2 {
    width: 100%;
    height: 500px;
    background-color: #eee;
    
    .content {
        width: 100%;
        max-width: 1140px;
        margin:0 auto;

        .title {
            width: 100%;
            img {
            width:20%;

            }
            
        }
    }
}





