



// #section1 {
//     .content{

//         .navbar {
//             .logo {
//                 &:hover {

//                 }

//             }

//             .nav_item {

                
//             }
//         }
//     }
// }

#section2 {
    width: 100%;
    background-color: #000;
    
    .content {
        width: 100%;
        max-width: 1140px;
        margin:0 auto;

        .title {
            width: 100%;
            img {
            width:20%;

            }
            
        }
    }
}





